/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
hr {
    margin-top: -30px;
    margin-bottom: 40px;
    border-top: 1px solid #DDD;
}
body{
    min-height: 100vh;
    background-color: whitesmoke;
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #0E4BF1;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0E4BF1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

h2{
    font-size: 50px;
    font-weight: bold;
    color: #0B360A;
    font-family: montserrat;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 23px;
    margin: 40px;
}
.container {
    flex-basis: calc(50% - 20px); /* 50% width with margin included */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 700px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 0px 0 30px 0;
    justify-content: space-between;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.buttons{
    background-color: white;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 20px;
}
 .buttons button {
        border-color: #DDD;
        border-radius: 15px; /* Adjust the value as needed to make the button oval */
    }

/*------------------------------------MY CSSS ------------------------------------------*/

.folder-container {
    border: none; 
    border-radius: 8px; 
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px; 
   
    display: none;
}


.folders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 30px;
    row-gap: 15px;
    padding: 5px;
    width: 100%; 
    max-width: 100%;
}

.folder {
    width: 230px;
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    /*  justify-content: center;*/
    align-items: center;
    padding: 15px;
}

/* File container styling */
.file-container {
    border: none; 
    border-radius: 8px; 
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px; 

    display: none;
}


.files1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    column-gap: 35px;
    row-gap: 16px;
    padding: 5px;
    width: 100%; 
    max-width: 100%;
}
.file1 {
    width: 230px;
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    color: #333;
   
}

.file1-name {
    font-size: 18px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

    .file1-name:hover {
        color: #1e90df; 
    }

    .file1:hover {
        background-color: none; 
        border-radius: 10px; 
    }

    .file1 i {
        font-size: 20px;
        margin-right: 10px;
    }

.folder-name {
    margin: 10px;
    font-size: 18px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
   
}

    .folder-name:hover {
        color: #1e90df; 
    }


.separation-text {
    display: flex;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    color: black;
    font-size: 24px;
    display: none;
    font-family: montserrat;
    font-weight: bold;
}

.add-folder-icon {
    cursor: pointer;

}

    .add-folder-icon i {
        font-size: 24px;
    }


.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 0;
}

    .context-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    .context-menu li {
        padding: 8px 15px;
        cursor: pointer;
    }

        .context-menu li:hover {
            background-color: #f0f0f0;
        }

    
        .context-menu2 {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px 0;
        }
        
            .context-menu2 ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
        
            }
        
            .context-menu2 li {
                padding: 8px 15px;
                cursor: pointer;
            }
        
                .context-menu2 li:hover {
                    background-color: #f0f0f0;
                }
        
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 24px;
    border: 1px solid #ccc;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 512px;
    min-width: 320px;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

    .popup.show,
    .overlay.show {
        display: block;
    }

.label {
    display: block;
    margin-bottom: 8px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    text-align: right;
}

    .button-group button {
        margin-left: 8px;
    }

#folderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.label {
    align-self: flex-start;
    margin-bottom: 10px;
}

.input {
     
    margin-bottom: 10px;
}

.button {
    align-self: flex-start;
}


.table-containers {
    overflow-y: auto;
    max-height: 580px;
    margin-top: 30px;

}


.tables {
    width: 100%;
    border-collapse: collapse;
    color:#000;
    font-family: 'Lato', sans-serif;
    border: 1px solid #DDD;
}

.tables th {
    background-color: lightblue;
    color: black;
    padding: 10px;
    text-align: left;
    border-right: 1px solid #DDD;
}
tables td:first-child {
    border-left: 1px solid #DDD;
}

.tables td {
    padding: 10px;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    color: #000;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.tables th:first-child,
.tables td:first-child {
    width: 30%; /* Adjust the width percentage as needed */
}

.tables th:not(:first-child),
.tables td:not(:first-child) {
    width: 15%; /* Adjust the width percentage for other columns as needed */
}

.bottom-search {
    display: flex;
    align-items: center;
}
.bottom-search .search i{
    font-size: 24px;
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    color: #707070;
}
.search {
    margin-right: auto; 
}


.bottom-search input[type="text"] {
    padding: 8px 30px 8px 50px; 
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    border-radius: 25px;
    height: 100%;
    width: 150px; 
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
    
}

    .bottom-search input[type="text"]:focus {
        outline: none;
        border-color: var(--accent-color); 
    }


.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: royalblue;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

    .menu li {
        padding: 0.3em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
        color: whitesmoke;
    }

        .menu li:hover {
            background: darkblue;
        }

.active {
    background: darkblue;
}

.menu-open {
    display: block;
    opacity: 1;
}
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; 
    left: -50px;
}

    
    .dropdown-content button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%; 
        text-align: left; 
        border: none; 
        background: none; 
        cursor: pointer; 
    }

       
        .dropdown-content button:hover {
            background-color: #ddd;
        }


.dropdown:hover .dropdown-content {
    display: block;

}


.dropdown:hover .dropbtn {
    background-color: none;
}


.text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px; 
    margin-bottom: 11px;
    align-items: center;
    font-size: 13px;
}


.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    
    .dropdown-content2 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

       
        .dropdown-content2 a:hover {
            background-color: #ddd;
        }


.dropdown2:hover .dropdown-content2 {
    display: block;
}


.dropdown-content2 {
    right: 0;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.dropdown,
.dropdown2,
button {
    margin-left: 2px; 
    flex-shrink: 0; 
}
.dropbtn{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-color: #DDD;
}
.dropbttn{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-color: #DDD;
}
.dropbtn2{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-color: #DDD;
}

