.container {
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "first-side second-side third-side";
}
body{
    background-color: rgb(212, 212, 212)
}

nav{
    grid-area: nav;
}
.dashboard{
    grid-area: dashboard;
}
.first-side {
    padding: 3%;
    grid-area: first-side;
    background-color: var(--panel-color);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}
.second-side {
    padding: 3%;
    grid-area: second-side;
    background-color: var(--panel-color);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}

.third-side {
    padding: 3%;
    grid-area: third-side;
    background-color: var(--panel-color);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}

input[type='text']{
    font-weight: bold;
    border: none;
    font-size:85%;
    margin-bottom: 2%;
     background-color: var(--panel-color);
    color: rgba(65, 92, 229, 0.84);
}
.user-label{
    opacity: .7;
    display: flex;
    color: var(--black-light-color);
}
.content-info{
    display: flex;
    flex-direction: column;
}
.operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-info-btn-container {
    position: relative;
}

.edit-info-btn {
    display: inline-block;
}

.edit-info-btn img {
    width: 28px; /* Adjust as needed */
    height: auto;
}
.textheader{
    font-weight: bold;
    color: var(--black-light-color);
}
.cancel-btn i{
    text-decoration: none;
}
.buttons{
    display: flex;

}

.cancel-btn{
    display: none;
}
.save-btn{
    display: none;
}
.header {
    grid-area: header;
    width: auto;
    height: auto;
}
.image-background-profile{    
    width: 100%;
    height: auto;
    overflow: hidden;
}
.white-bg {
    background-color: var(--panel-color);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.white-bg span{
    margin-left: 3%;
}
.white-bg .userName{
    font-weight: bold;
    font-size: 18px;
    color: var(--black-light-color);
}
.white-bg .userTitle{
    color: var(--black-light-color);
}
.image-user img{
    position: absolute;
    width: 10%;
    height: auto;
    margin-left: 2%;
    margin-top: -7%;
    border: 5px solid rgb(46, 66, 166);
    padding: .3%;
    background-color: var(--panel-color);
    border-radius: 50%;
}
.container {
    /* border: 1px solid black; */
    flex-basis: calc(50% - 20px);
    background-color: var(--panel-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
}


@media screen and (max-width: 768px) {
    .image-user img{
       width: 25%;
    }
    .white-bg span{
        margin-bottom: -2%;
    }

@media  screen and (max-width: 768px) {
    .container {
        display: grid;
        gap: 5px;
        margin: 14px;
        background-color: var(--panel-color);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "first-side" 
            "second-side" 
            "third-side";
    }
}
}