.container {
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "first-side second-side third-side";
}
body{
    background-color: rgb(212, 212, 212)
}
.header {
    grid-area: header;
}


.first-side {
    padding: 3%;
    grid-area: first-side;
    background-color: white ;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}
.second-side {
    padding: 3%;
    grid-area: second-side;
    background-color: white ;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}

.third-side {
    padding: 3%;
    grid-area: third-side;
    background-color: white ;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}

input[type='text']{
    font-weight: bold;
    border: none;
    font-size:85%;
    margin-bottom: 2%;
    color: rgba(65, 92, 229, 0.84);
}
.user-label{
    opacity: .7;
}
.content-info{
    display: flex;
    flex-direction: column;
}
.operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-info-btn-container {
    position: relative;
}

.edit-info-btn {
    display: inline-block;
}

.edit-info-btn img {
    width: 28px; /* Adjust as needed */
    height: auto;
}
.cancel-btn{
    display: none;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: .5%;
    background-color: rgb(172, 149, 167);
    border-radius: 15%;
    margin-left: 65%;
}
.save-btn{
    display: none;
    background-color: rgb(128, 218, 125);
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: .5%;
    border-radius: 15%;
}


@media  screen and (max-width: 768px) {
    .container {
        display: grid;
        gap: 5px;
        margin: 14px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "first-side" 
            "second-side" 
            "third-side";
    }
}
