.container {
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "first-side second-side third-side";
}
body{
    background-color: rgb(212, 212, 212)
}

nav{
    grid-area: nav;
}
.dashboard{
    grid-area: dashboard;
}
.first-side {
    padding: 3%;
    grid-area: first-side;
    background-color: var(--panel-color);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}
.second-side {
    padding: 3%;
    grid-area: second-side;
    background-color: var(--panel-color);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}

.third-side {
    padding: 3%;
    grid-area: third-side;
    background-color: var(--panel-color);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.6);
}

input[type='text']{
    font-weight: bold;
    border: none;
    font-size:85%;
    margin-bottom: 2%;
     background-color: var(--panel-color);
    color: rgba(65, 92, 229, 0.84);
}
.user-label{
    opacity: .7;
    display: flex;
    color: var(--black-light-color);
}
.content-info{
    display: flex;
    flex-direction: column;
}
.operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-info-btn-container {
    position: relative;
}

.edit-info-btn {
    display: inline-block;
}

.edit-info-btn img {
    width: 28px; /* Adjust as needed */
    height: auto;
}
.textheader{
    font-weight: bold;
    color: var(--black-light-color);
}
.cancel-btn i{
    text-decoration: none;
}
.buttons{
    display: flex;

}

.cancel-btn{
    display: none;
}
.save-btn{
    display: none;
}
.header {
    grid-area: header;
    width: auto;
    height: auto;
}
.image-background-profile{    
    width: 100%;
    height: auto;
    overflow: hidden;
}
.white-bg {
    background-color: var(--panel-color);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.white-bg span{
    margin-left: 3%;
}
.white-bg .userName{
    font-weight: bold;
    font-size: 18px;
    color: var(--black-light-color);
}
.white-bg .userTitle{
    color: var(--black-light-color);
}
.image-user{
    width: 125px; /* Set fixed width */
    height: 125px; /* Set fixed height */
    margin-left: 20px; /* Adjust margin as needed */
    margin-top: -70px; /* Adjust margin as needed */
    overflow: hidden; /* Hide any overflow */
    border: 5px solid rgb(46, 66, 166);
    padding: 3px; /* Adjust padding as needed */
    background-color: var(--panel-color);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;

}
.image-user img{
    padding: .3%;
    background-color: var(--panel-color);
    border-radius: 50%;
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
    
}
.change-profile{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
    margin-top: 1%;
}
.toggleUpload{
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 13%;
    padding: 8px;
    align-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.toggleUpload:hover{
    background-color: rgba(65, 92, 229, 0.84);
}
.toggleUpload:focus{
    background-color: rgba(65, 92, 229, 0.84);
}
.uploadImage{
    border: 1px solid white;
    background-color: aqua;
    margin-top: 4.5%;
    margin-left: 5%;
    padding: .8%;
    background-color: white;
    border: none;
    border-radius: 6%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.uploadImage:hover{
    background-color: rgba(65, 92, 229, 0.84);
}
.container {
    /* border: 1px solid black; */
    flex-basis: calc(50% - 20px);
    background-color: var(--panel-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
}

@media screen and (max-width: 1280px) {
    .change-profile{
        margin-left: 110px;
    }
}

@media screen and (max-width: 768px) {
    .image-user img{
       width: 100%;
       height: 100%;
    }
    .white-bg span{
        margin-bottom: -2%;
    }
    
    .image-background-profile{
        height: 40%;
    }
    
    

@media  screen and (max-width: 768px) {
    .profile-image{
        position: absolute;
        margin-top: -12%;
    }
    .change-profile{
        margin-left: 90px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .change-profile .uploadImage{
        font-size: 12px;
        width: 125px;
        padding: 8px;
        position: absolute;
        margin-top: 90px;
    }
  .editText{
    font-size: 0px;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 16;
}

    .container {
        display: grid;
        gap: 5px;
        margin: 14px;
        background-color: var(--panel-color);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "first-side" 
            "second-side" 
            "third-side";
    }
    .image-user{
        width: 90px;
        height: 90px;
        margin-top: 1px;
    }
}
}