/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.inbox {
    display: flex;
    height: 100vh;
}


.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content exceeds container */
}

.message {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.email-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    outline: 1px solid transparent; 
    transition: outline-color 0.3s ease; 
    cursor: pointer; 
    border-radius: 2px;
}

.email-header:hover {
    outline-color: #a0a0a0; 
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}


.email-header .sender {
    font-weight: bold;
    flex: 1;
}

.email-header .subject {
    flex: 3;
    margin: 0 10px;
}

.email-header .date {
    flex: 1;
    text-align: right;
}


.email-header-options {
    border-bottom: 1px solid #7e7e7e; 
    padding: 10px; 
}



/* Media query for responsiveness */
@media (max-width: 768px) {
    .inbox {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .messages {
        width: 100%;
    }
}
